doctype html
html
 haed

  meta(charset ='utf8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900', rel='stylesheet', type='text/css' media='screen and (min-width:800px)')

  // PC stylesheet
  link(rel='stylesheet', href='css/style.css' media='screen and (min-width:700px)')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

  // mobile stylesheet
  link(rel = 'stylesheet' href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css' media='screen and (max-width:699px)')
  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
 body


     #page(data-role='page')
       div(data-role='header', data-position='fixed', data-fullscreen='true')
         a(href='/', data-rel='back', data-icon='back') Back
         a(href='/', data-icon='home', data-iconpos='notext') 홈
         h1.usertitle 회원 관리페이지
         div(data-role='navbar')
           ul
             li
               a.ui-btn-active(href='#', data-transition='slide') 상단1
             li
               a(href='#', data-transition='slide') 상단2
             li
               a(href='#', data-transition='slide') 상단3
             li
               a(href='#', data-transition='slide') 상단4
             li
               a(href='#', data-transition='slide') 상단5

       div(data-role='content').tableplace
        h3
         table(border="1")
          caption 회원 목록
           tr(bgcolor="#CCC")
            th user_id
            th user_password
            th user_name
            th user_phonenumber
            th user_drop
          each row in rows
           tr
            td=row.userid
            td=row.pass
            td=row.name
            td=row.phonenumber
            td
             form(action='/user_delete' method='post')
              input(type="hidden" name='userid' value=row.userid)
              input(type='submit' value='DROP')
       div(data-role='footer', data-position='fixed')
        div(data-role='navbar')
                 ul
                   li
                     a.ui-btn-active(href='/research', data-icon='search') 과외찾기
                   li
                     a(href='/mystudy', data-icon='bullets') 마이과외
                   li
                     a(href='/mypage', data-icon='user') 마이페이지
                   li
                     a(href='/plus', data-icon='bars') 더보기
               // navbar 끝
             // footer 끝
