doctype html
html
 head
  meta(charset ='utf8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
  // mobile stylesheet
  script(src='/js/jquery.js')
  link(rel='stylesheet' href='css/jquery.mobile-1.4.5.css' )
  script(src='/js/jquery.mobile-1.4.5.js')



 body
          div(data-role='header', data-position='fixed', data-fullscreen='false')
            a(href='/', data-rel='back', data-icon='back') Back
            a(href='/', data-icon='home', data-iconpos='notext') 홈
            h1 수업 리스트

            //학생&부모님 경우
          div(data-role='content')
           div(data-role='navbar').search_add_board
            input(data-type='search' id='filterControlgroup-input')
            each row in rows1

              div(data-role='controlgroup' data-filter='true' data-input='#filterControlgroup-input').li_size
                a(href="/detailed_research?cid=#{row.cid}" class='ui-btn ui-shadow ui-corner-all')
                 div
                   img(src='http://#{ip_address}:3001/#{row.userfile}' width='150px' height='150px')
                 div
                   br
                   ul
                    li=row.name
                   ul
                    li=row.class_title
                   ul
                    li=row.expense


          div(data-role='footer', data-position='fixed')
           div(data-role='navbar')
            ul
              li
                a.ui-btn-active(href='/research',data-transition='slide', data-icon='search') 과외찾기
              li
                a(href='/mystudy',data-transition='slide', data-icon='bullets') 마이과외
              li
                a(href='/chatting',data-transition='slide', data-icon='comment') 채팅
              li
                a(href='/mypage',data-transition='slide', data-icon='user') 마이페이지
              li
                a(href='/plus',data-transition='slide', data-icon='bars') 더보기

          // navbar 끝
        // footer 끝
