doctype html
html
 head
  meta(charset ='utf8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
  // mobile stylesheet
  link(rel = 'stylesheet' href='css/mobilestyle.css' media='screen and (max-width:699px)')
  link(rel = 'stylesheet' href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css' media='screen and (max-width:699px)')
  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')



 body
          div(data-role='header', data-position='fixed', data-fullscreen='true')
            a(href='/', data-rel='back', data-icon='back') Back
            a(href='/', data-icon='home', data-iconpos='notext') 홈
            h1 Hello research

          div(data-role='content')
           div(data-role='navbar').search_add_board
            |hello_dateiled_research
            h3=rows.name
            h3=rows.gender
            h3=rows.birthday
            h3=rows.phonenumber
            h3=rows.email
            h3=rows.address
            h3=rows.class_title
            h3=rows.class_subject
            h3=rows.class_student
            h3=rows.class_style
            h3=rows.experience
            h3=rows.expense
            h3=rows.self_introduce




          div(data-role='footer', data-position='fixed')
           div(data-role='navbar')
            ul
              li
                a.ui-btn-active(href='/research',data-transition='slide', data-icon='search') 과외찾기
              li
                a(href='/mystudy',data-transition='slide', data-icon='bullets') 마이과외
              li
                a(href='/mypage',data-transition='slide', data-icon='user') 마이페이지
              li
                a(href='/plus',data-transition='slide', data-icon='bars') 더보기

          // navbar 끝
        // footer 끝
